#navbar{
    height: 180px;
    position: relative;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom:1px solid #333 ;

}

#showcase{
    padding: 40px;
}


/* clients*/
#clients-container{
    grid-template-columns: repeat(2, 1fr);
}
.client{
    width: 50%;
    padding: 20px 0;
}

/* features*/

#features-container{
grid-template-columns: 1fr;
}

#features-container .features:nth-child(2){
margin: 15px 0;
}

#product-container{
flex-direction: column;
}

#items{
width: 90%;
}

.item{
margin: 0 10px;
flex-direction: column;
align-items: center;
text-align: center;
}


/* testimonials */

.testimonials{
flex-direction: column;
text-align: center;
}

#galery-container{
grid-template-columns: 1fr;
}

.galery-imagem{
width: 100%;
}