@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: #111;
    color: #eee;
    text-decoration: none;
    border-radius: 5px;
    transition: "background 500ms ease";
}

.btn:hover{
    cursor: pointer;
    background: #000;
}

.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
    letter-spacing: 2px;
}
/* navbar */

#navbar{
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li{
    padding: 10px;
}

#navbar-items li a{
    text-decoration: none;
    color: #eee;
    letter-spacing: 0.1rem;
}

#showcase{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color: rgb(250, 249, 249);
background: url(/imagem/banner1.jpg) no-repeat center center/cover;
/* overlay */
background-color: rgb(0, 0, 0 , 0.8);
background-blend-mode: color;
}



#showcase-container{
text-align: center;
}

#showcase-container h2{
    font-size: 2.5rem;
    }

    #showcase-container p{
    font-size: 1.2rem;
    padding-bottom: 7px;
    }

    /* clientes */

    #clients{
        width: 100%;
        height: 50vh;
        background-color: #eee;
        color: rgb(0, 0, 0);
        padding: 50px;
    }


    #clientes-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
    }

    .client{
        display: inline-block;
        width: 25%;
    }


    /*about*/


    #features{
        width: 100%;
        height: 60%;
        background: rgb(3, 3, 3);
        color: #eee;
        padding: 50px;
    }

    #features-container{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap:  10px;
    }


    .feature{
        display: flex;
        flex-direction: column;
        background: #333;
        padding: 60px;
        border-radius: 5px;
    }



    .features-title{
        font-size: 1.5rem;
        font-weight: bold;
    }


#product{
    width: 100%;
    height: 90vh;
    padding: 50px;
}


#product-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.product{
    display: inline-block;
    width: 30%;
}

.iphoone-x{
    width: 450px;
    padding: 0px 40px;
    margin-bottom: 80px
}

#items{
    width: 650px;
    margin-top: 10px;
}

#items .item{
    display: flex;
    padding: 10px;
    margin: 15px 15px;
    font-size: 1.2rem;
}

.item p{
    margin: 0 15px;
}

.testimonial{
    display: flex;
    align-items: center;
    font-size: 1,2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#testimonials{
    width: 100%;
    background: rgb(26, 26, 26);
    color: #eee;
    padding: 50px;
}


#testimonials-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foto-testimonial{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    padding: 10px;
    margin: 20px;

}

#galery{
    width: 90%;
    margin: auto;
    padding: 50px;

}

#galery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.galery-img{
    display: inline-block;
    padding: 10px;
    width: 540px;
    height: 360;
    border-radius: 5px;
}

footer{
    background: #111;
    color: #eee;
    padding: 30px;
    text-align: center;
}